$background: #fff;
$foreground: #f8f8f8;
$mainColor: #3A63DF;
$mainColor-light: #6586E6;

$textColor: #222222;
$textColor-80: rgba($color: $textColor, $alpha: 0.8);
$textColor-70: rgba($color: $textColor, $alpha: 0.7);
$textColor-60: rgba($color: $textColor, $alpha: 0.6);
$textColor-blue: #6890FF;

$grayColor: #dedede;

$btnRedColor: #FBDBD9;
$btnBlueColor: #D9E2FB;
$btnGreenColor: #D9FBF3;

$boxShadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.03);

$mainFont: 'Inter', sans-serif;