@import 'vars';
@import 'breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-family: $mainFont;
  font-size: 1.6rem;
  background: $foreground;
  color: $textColor;
}

li{
  list-style-type: none;
}

a{
  color: $textColor;
  text-decoration: none;
}

.container{
  max-width: 1900px;
  width: 90%;
  margin: 0 auto;

  &-gray{
    background: $foreground;
  }
}

section{
  &:not(.fullscreen){
    margin-top: 2rem;
  
    @include mediaMin(xl){
      margin-top: 4rem;
    }
  }

  &.fullscreen{
    height: 100vh;
    display: grid;
    place-items: center;
  }
}

h1{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;

  @include mediaMin(xl){
    margin-bottom: 4rem;
  }
}

.error{
  color: rgb(194, 63, 63);
  font-weight: 600;
  font-size: 1.2rem;
}

.btn{
  padding: .8rem 1.5rem;
  border-radius: 5px;
  display: flex;
  gap: 1.5rem;
  color: $textColor;
  border: none;
  cursor: pointer;
  user-select: none;
  font-size: 1.6rem;
  font-family: $mainFont;
  transition: all .15s;
  width: fit-content;

  &-main{
    background: $mainColor-light;
    color: #fff;
    &:hover{
      background: rgba($color: $mainColor-light, $alpha: 0.8);
    }
  }
  &-gray{
    background: $grayColor;
    &:hover{
      background: rgba($color: $grayColor, $alpha: 0.7);
    }
  }
  &-black{
    background: $textColor;
    color: #fff;
    &:hover{
      background: rgba($color: $textColor, $alpha: 0.8);
    }
  }
  &-red{
    background: $btnRedColor;
    &:hover{
      background: rgba($color: $btnRedColor, $alpha: 0.8);
    }
  }
  &-blue{
    background: $btnBlueColor;
    color: $textColor-blue;
    font-weight: 500;
    &:hover{
      background: rgba($color: $btnBlueColor, $alpha: 0.8);
    }
  }
  &-green{
    background: $btnGreenColor;
    &:hover{
      background: rgba($color: $btnGreenColor, $alpha: 0.8);
    }
  }
}



header{
  background: $background;
  border-bottom: 2px solid $grayColor;
  padding: .7rem 0;
  user-select: none;

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav, .nav-list{
    display: flex;
    align-items: center;
    gap: 3.5rem;

    @include mediaMax(xl){
      gap: 2rem;
    }
  }
  .profile{
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background: $grayColor;
    cursor: pointer;
    position: relative;

    @include mediaMax(xl){
      width: 3.2rem;
      height: 3.2rem;
    }

    &-tooltip{
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
      position: absolute;
      top: 5.2rem;
      right: 0;
      width: max-content;
      min-width: 12rem;
      box-shadow: $boxShadow;
      background: $background;
      transition: grid-template-rows .25s;

      &.--active{
        grid-template-rows: 1fr;
      }

      &-content{
        min-height: 0;
      }

      span{
        color: $textColor-80;
        position: relative;
        display: block;
        margin-bottom: 3rem;
        padding: 1.5rem 1.5rem 0 1.5rem;
        &::after{
          position: absolute;
          content: '';
          width: calc(100% + 3rem);
          height: 1px;
          background: $grayColor;
          left: -1.5rem;
          bottom: -1.5rem;
        }
      }

      &-link{
        font-weight: 500;
        display: block;
        width: fit-content;
        padding: 0 1.5rem 1.5rem 1.5rem;
      }

    }
  }
}

.header-cta-group{
  display: flex;
  gap: 1.5rem;
}

.dot{
  width: 5px;
  height: 5px;
  background: $textColor;
  border-radius: 50%;
}

.compare-switch{
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 1.5em;
  font-size: 1.2rem;

  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    outline: 2px solid rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:before {
      position: absolute;
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1.5em;
      width: 1.5em;
      inset: 0;
      background-color: #A6A6A6;
      border-radius: 50px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.1);
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

  }

  input:checked + .slider {
    outline: 2px solid $mainColor;
    &:before{
      background-color: $mainColor;
    }
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $mainColor;
  }

  input:checked + .slider:before {
    transform: translateX(2em);
  }

}

.create-prompt{
  &-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(248, 248, 248, 0.25);
    backdrop-filter: blur(1px);
  }

  h2{
    color: $mainColor;
  }

}

// $palettes: (
//   1: ("1": "#6890FF", "2": "#D9E2FB", "3": "#D9FBF3"),
//   2: ("1": "#E66D65", "2": "#FBDBD9", "3": "#D9E2FB"),
//   3: ("1": "#32C297", "2": "#D9FBF3", "3": "#FBEDD9")
// );

// @for $i from 1 through length($palettes) {
//   $currentPalette: map-get($palettes, $i);

//   .palette-#{$i} {
//     @each $color, $code in $currentPalette {
//       .color-#{$color} {
//         color: unquote($code);
//         background-color: unquote($code);
//       }
//     }
//   }
// }
$palettes: (
  1: (
    "primary": "#6890FF",
    "secondary": "#D9E2FB",
    "accent": "#D9FBF3"
  ),
  2: (
    "primary": "#E66D65",
    "secondary": "#FBDBD9",
    "accent": "#D9E2FB"
  ),
  3: (
    "primary": "#32C297",
    "secondary": "#D9FBF3",
    "accent": "#FBEDD9"
  )
);

@for $i from 1 through length($palettes) {
  $currentPalette: map-get($palettes, $i);

  .palette-#{$i} {
    .color-1 {
      background-color: unquote(map-get($currentPalette, "primary"));
    }

    .color-2 {
      background-color: unquote(map-get($currentPalette, "secondary"));
    }

    .color-3 {
      background-color: unquote(map-get($currentPalette, "accent"));
    }

    .foreground-bg {
      background: unquote(map-get($currentPalette, "secondary"));
    }
    .foreground-bg-hover{
      &:hover{
        background: unquote(map-get($currentPalette, "secondary"));
      }
    }
    .text-color {
      color: unquote(map-get($currentPalette, "primary"));
    }
    .accent-bg {
      background: unquote(map-get($currentPalette, "accent"));
    }
    .border-color {
      border-bottom: 2px solid unquote(map-get($currentPalette, "secondary")) !important;
    }
    .border-color-focused:focus {
      border-bottom: 2px solid unquote(map-get($currentPalette, "primary")) !important;
    }
  }
}




.form-canvas{
  &-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    height: 100%;
  }
  background: #fff;
  width: 100%;
  max-width: 80%;
  aspect-ratio: 16/9;
  padding: 3rem 2.5rem;
  overflow-y: auto;
  
  &-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .input-group{
      .input + .error {
        margin-top: 1rem;
      }

      .input{
        display: flex;
        flex-direction: column;
        gap: .7rem;

        span{
          font-weight: 500;
          font-size: 1.5rem;
        }

        input{
          font-size: 1.6rem;
          border: none;
          outline: none;
          transition: border-bottom .2s ease;
        }
      }
    }

  }
  

  textarea{
    width: 100%;
    font-family: $mainFont;
    font-size: 1.5rem;
    color: $textColor;
    font-weight: 500;
    border: 0;
    outline: 0;
    resize: none;
    background: none;
  }

  img{
    max-width: 80%;
    max-height: 350px;
    object-fit: contain;
  }

  &-actions{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;

    button{
      height: 3.6rem;
      display: flex;
      align-items: center;


      font-weight: 500;
      @extend .foreground-bg;
      @extend .text-color;
      @extend .foreground-bg-hover;
    }
  }

}


.answer-box{
  &-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: fit-content;
  }

  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.5rem;
  cursor: default;
  user-select: none;
  z-index: 999;
  

  &.--pointer{
    cursor: pointer;
  }

  &.--selected::before{
    position: absolute;
    content: "";
    top: -5px;
    left: -5px;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    @extend .accent-bg;
  }
  &.result-box::before{
    position: absolute;
    content: "";
    top: -5px;
    left: -5px;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    background: rgba($color: $grayColor, $alpha: 0.4);
  }
  &.result-box--selected::before{
    position: absolute;
    content: "";
    top: -5px;
    left: -5px;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    background: rgba($color: #6586E6, $alpha: 0.4);
  }
  &.result-box--correct::before{
    position: absolute;
    content: "";
    top: -5px;
    left: -5px;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    background: rgba($color: #65E6CF, $alpha: 0.4);
  }

  &-label{
    font-weight: 600;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 1;
    @extend .foreground-bg;
  }

  &-content{
    font-weight: 500;
    z-index: 1;
  }
}


